body {
  background: #0a1172;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0492c0, #0a1172);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0492c0, #0a1172);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#buttongroup {
  position: fixed;
  bottom: 0;
  padding: 10px 0 20px 0;
  border-radius: 10px 11px 0 0;
  width: 100%;
  background: #1520a6;
}

.header {
  padding: 10px 0 20px 0;
  border-radius: 0 0 10px 10px;
  width: 100%;
  background: #1520a6;
}
